* {
	box-sizing: border-box;
	box-shadow: none;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	
}

body {
	min-height: 100vh;

	position: relative;

	width: 100%;

	&.fixed {
		overflow: hidden;

		position: fixed;
		top: 0;
		left: 0;

		height: 100vh;
	}
}

header {
	background: rgba(255, 255, 255, .7);
	border-bottom: 1px solid #000;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding: 0 5.2083333vw;

	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;

	width: 100%;
	height: 100px;

	.menu {
		color: #000;
		cursor: pointer;
	}

	.logo {
		img {
			display: block;
			width: 180px;
			height: auto;
		}
	}

	.tel {
		a {
			color: #000;
		}
	}
}

main {
	padding-top: 140px;
	position: relative;
	z-index: 2;
}

a.route-link {
	color: #000;
	display: inline-block;
	font-size: 18px;
	line-height: 26px;

	margin: 0 40px 40px;
	text-decoration: underline;
}

.back {
	color: rgba(0, 0, 0, .4);
	font-size: 600px;
	font-weight: 700;

	position: absolute;
	z-index: 1;
}

.animation-layer {
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;

	width: 100%;
	height: 100vh;

	.layer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		overflow: hidden;

		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		img {
			display: block;

			perspective: 1000px;

			width: 50%;
			height: auto;

			will-change: transform;
		}

		&-1 {
			background: #101010;
			transform: translate3d(-110%, 0, 0);
			perspective: 1000px;
			z-index: 1;
			will-change: transform;
		}

		&-2 {
			background: #141414;
			transform: translate3d(-120%, 0, 0);
			perspective: 1000px;
			z-index: 2;
			will-change: transform;
		}

		&-3 {
			background: #181818;
			transform: translate3d(-130%, 0, 0);
			perspective: 1000px;
			z-index: 3;
			will-change: transform;
		}
	}
}

section {
	font-size: 16px;
	line-height: 24px;
	padding: 0 5.2083333vw 80px;

	position: relative;
	z-index: 2;
}